*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* 
.container-fluid .justify-content-center{
    height: 100vh;
} */

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.fixed-size-form {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

body{
    background: #f0f2f5;
}

.container-fluid .reservation-area{
    height: 92vh;
    max-height: 93vh;
}

.is-invalid{
    border: 1px solid red;
}

.navbar-nav {
    width: 100%;
}
.navbar-nav .logout {
    margin-left: auto;
}